.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &.is-column {
    flex-direction: column;
  }

  .button {
    margin-right: 1rem;
  }
}